<template>
    <div>
        <p>Ici on visualisera les données du compte</p>
        <input type="button" name="delete" value="Supprimer le compte"/>
    </div>
</template>

<script>
export default {
    name : 'AccountView',
}
</script>

<style lang="sass" scoped>
input{
    font-size: 15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2;
    }
</style>