<template>
  
    <img alt="Vue logo" src="../assets/logos/icon-left-font.png"/>
    <TrendsCardContainer />
    <SinglePost v-for="(post, index) in posts" :post="post" :key="index"/>
  
</template>

<script>
// @ is an alias to /src
import TrendsCardContainer from '@/components/TrendsCardContainer.vue'
import SinglePost from '@/components/SinglePost.vue'

export default {
  name: 'HomeView',
  components: {
    TrendsCardContainer,
    SinglePost
  },
  data () {
    return {
      posts : [
  {
    "imageUrl": 'https://picsum.photos/id/1/300/300',
    "id": 1,
    "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
    "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
  },
  {
    "imageUrl": 'https://picsum.photos/id/2/300/300',
    "id": 2,
    "title": "qui est esse",
    "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
  },
  {
    "imageUrl": 'https://picsum.photos/id/3/300/300',
    "id": 3,
    "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
    "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
  },
  {
    "imageUrl": 'https://picsum.photos/id/4/300/300',
    "id": 4,
    "title": "eum et est occaecati",
    "body": "ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit"
  },
  {
    "imageUrl": 'https://picsum.photos/id/5/300/300',
    "id": 5,
    "title": "nesciunt quas odio",
    "body": "repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque"
  },

      ]
    }

  }
}
</script>
