<template>
    <div class="bannerContainer">
        <div class="bannerContainer_logo">
            <img class="logo" src="../assets/logos/icon-left-font-monochrome-black.svg" alt="logo de Groupomania : globe quadrillé" />   
        </div>
        <div class="bannerContainer_researchBar">
            <label>Rechercher dans les post</label>
            <input type="search" name="research" size="30" placeholder="Rechercher dans les post">
        </div>
        <div class="bannerContainer_login">
            <router-link>Se connecter</router-link>
        </div>
        <div class="bannerContainer_register">
            <router-link to="/register">S'inscrire</router-link>
        </div>
    </div>
    <router-view/>
</template>

<script>
export default {
  name: 'PageBanner'
}
</script>

<style scoped >
    .bannerContainer{
        display: flex;
        justify-content :space-between;
        align-items: center;
        border-bottom: 2px;
    }

    .bannerContainer_researchBar{
        padding : 15px;
        border-radius: 30%;
    }
    .bannerContainer_login_button, .bannerContainer_register_button{
        border-radius: 30px;
        background-color: rgb(130, 130, 219);
        cursor: pointer;
    }


</style>