<template>
    <div class="publicationCard-container">
        <div class="publicationCard-container_like">
            <font-awesome-icon icon="fa-solid fa-thumbs-up" />
            <font-awesome-icon icon="fa-solid fa-thumbs-down" />
        </div>
        <div class="publicationCard-container_main">
            <div class="publicationCard-container_main_item identification">
                Auteur - Publié par ** le **
            </div>
            <div class="publicationCard-container_main_item text">
                Le texte de l'auteur
            </div>
            <div class="publicationCard-container_main_item tools">
                <div class="comments"> 
                    <font-awesome-icon icon="fa-solid fa-comment" />
                    <p>Commentaires</p>
                </div>
                <div class="share">
                    <font-awesome-icon icon="fa-solid fa-share-nodes" />
                    <p>Partager</p>
                </div>
                <div class="save">
                    <font-awesome-icon icon="fa-solid fa-bookmark" />
                   <p>sauvergarder</p> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name : 'PublicationCard'
}
</script>

<style scoped>
    .publicationCard-container{
        display: flex;
        justify-content: center;
        border: 1px solid grey;
    }
    .tools{
        display: flex;
        justify-content: space-between;
    }

</style>