<template>
    <div class="formContainer">
        <form class="form">
            <label>Prénom</label>
            <input type="text" name="firstName"/>
            <label>Nom</label>
            <input type="text" name="lastName"/>
            <label>Pseudo</label>
            <input type="text" name="pseudo"/>
            <label>Votre adresse mail</label>
            <input type="email" name="email"/>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</template>

<script>
export default {
    name : 'RegisterForm'
}
</script>

<style scoped>
.formContainer{
    display: block;
    flex-direction: row;
}
.form {
    font-size: large;
}
</style>

