<template>
  <div class="container">
    <h3>{{ post.title }}</h3>
    <div class="containerImg">
      <img :src="post.imageUrl"/>
    </div>
    <p>{{ post.body }}</p>
  </div>
</template>

<script>
export default {
  name: 'SinglePost',
  props: {
    post : Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >
.container{
  padding : 10px;
  width: 300px;
  height: 200px;
  box-shadow: 12px 12px 2px 1px rgb(255,255, 255)
}
.containerImg{
    object-fit: cover;
  }
</style>
