<template>
    <h1>Tendance d'aujourd'hui</h1>
    <div class="container">
        <TrendsCard title="Titre 1" description="Description 1"/>
        <TrendsCard title="Titre 2" description="Description 2"/>
        <TrendsCard title="Titre 3" description="Description 3"/>
        <TrendsCard title="Titre 4" description="Description 4"/>

    </div>
</template>

<script>
import TrendsCard from './TrendsCard.vue'


export default {
    name: "TrendsCardContainer",
    components: { TrendsCard }
}
</script>

<style scoped>
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    

}
</style>

