<template>     
        <div class="cardContainer">
            <img class="cardContainer_img" src="../assets/images/pikeperch-fillet-g9e6a3f1bf_640.jpg" alt="photo issue de la base de donnée"/>
            <h2 class="cardContainer_title">{{ title }}</h2>
            <p class="cardContainer_decription">{{ description }}</p>
        </div>
</template>

<script>
export default {
    name : 'TrendsCard',
    props : ['image', 'title', 'description']
}
</script>

<style scoped>
    .cardContainer{
        width : 150px;
        height: 120px;
        padding: 15px;
        border-radius: 25px;
        box-shadow: 10px 10px 10px #f2f2f2;;
        margin-bottom: 15px;
    }
    .cardContainer_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    }
</style>