<template>
  
  <!-- <PageBanner msg="Welcome to Your Vue.js App"/> -->
  <router-link to="/network">Acceder au réseau</router-link>   -  
  <router-link to="/register">Créer un compte</router-link>
  <!--  <SinglePost v-for="(post, index) in posts" :post="post" :key="index"/> -->
  <router-view/>
</template>

<script>
//import PageBanner from './components/PageBanner.vue'
//import HelloWord from './components/HelloWorld'
//import TrendsCard from './components/TrendsCard.vue'
//import TrendsCardContainer from './components/TrendsCardContainer.vue'
//import PublicationCard from './components/PublicationCard.vue'
//import RegisterForm from './components/RegisterForm.vue'
//import SinglePost from './components/SinglePost'

export default {
  name: 'App',
  components: {
    //PageBanner,
    //HelloWord,
    //TrendsCard,
    //TrendsCardContainer,
    //PublicationCard,
    //RegisterForm,
    //SinglePost
  },
  data () {
    return {
      posts : [
  {
    "imageUrl": 'https://picsum.photos/id/1/300/300',
    "id": 1,
    "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
    "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
  },
  {
    "imageUrl": 'https://picsum.photos/id/2/300/300',
    "id": 2,
    "title": "qui est esse",
    "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
  },
  {
    "imageUrl": 'https://picsum.photos/id/3/300/300',
    "id": 3,
    "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
    "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
  },
  {
    "imageUrl": 'https://picsum.photos/id/4/300/300',
    "id": 4,
    "title": "eum et est occaecati",
    "body": "ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit"
  },
  {
    "imageUrl": 'https://picsum.photos/id/5/300/300',
    "id": 5,
    "title": "nesciunt quas odio",
    "body": "repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque"
  },

      ]
    }

  }
}
</script>

<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
